<!DOCTYPE html>
<html lang="fr">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-2">
      
      
    </div>
    <div class="col-sm-8 table-responsive text-nowrap"> 
      <table class="table table-bordered table-hover table-striped table-vcenter">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Technologie</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nodejs</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Express</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mongodb</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mongoose</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2"> 
      
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>